.subButton {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    background: #1a1a1a;
    border: 2px solid #333;
    color: #888;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
    font-weight: bold;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.subButton:active {
    transform: scale(0.96);
    background: #222;
    border-color: #666;
    color: #fff;
}

.subButton:hover {
    color: white;
    border-color: #555;
    background: #222;
}